<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta property="og:image" content="http://localhost:3000/images/wasatchRunning.jpg" />
  <title>{{ title }}</title>
  <meta name="description" content="Wasatch Trail Run Series - The premiere Utah trail running series around the Wasatch mountains with over 6 locations and races ranging from 5k to half marathon">
  <link rel="stylesheet" href="/stylesheets/style.css">
  {{#if isTest }}
  <!-- Map by Linseed Studio from the Noun Project -->
  <style type="text/css">
    body {
      border-top: 5px solid orange;
    }
  </style>
  {{/if}}
  <style type="text/css">
  </style>
</head>

<body>
  <header id="primary-header">
    <nav class="menu">
      <div class="logo-div">
        <a href="/">
          <img src="./images/logoWhite.png" alt="WSTRS Logo">
        </a>
      </div>
      <ul id="menu-list" class="navigation navigation-hidden">
        <li>
          <div id="menu-control" class="menu-icon">
            <img src="./images/map.svg" alt="Map Icon" />
            <span>Menu</span>
          </div>
        </li>
        <li>
          <a href="/Results">Race Schedule</a>
        </li>
        <li>
          <a href="/Gallery" class="promoted-link">Photos!</a>
        </li>
        <li>
          <a href="/Registration">Registration / Race Pass</a>
        </li>
        <li>
          <a href="/Series">Categories & Points</a>
        </li>
        <li>
          <a href="/Results">Results</a>
        </li>
        <li>
          <a href="/Sponsors">Sponsors</a>
        </li>
      </ul>
    </nav>
  </header>
  <section class="main">
    <h2>Wasatch Trail Series</h2>
    {{{body}}}
  </section>

  <footer class="footer">
    <hr/>
    <span>Website by:
      <a target="_blank" href="http://www.highpeaksolutions.com">High Peak Solutions</a>
    </span>
  </footer>
  {{#if isProduction}}
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-74667794-1', 'auto');
    ga('send', 'pageview');

  </script> {{/if}}
  <script>
    (function () {
      document.getElementById('menu-control').onclick = function () {
        var menuList = document.getElementById('menu-list');
        if (menuList.classList.contains('navigation-hidden')) {
          menuList.classList.remove('navigation-hidden');
          menuList.classList.add('navigation-open');
        } else {
          menuList.classList.add('navigation-hidden');
          menuList.classList.remove('navigation-open');
        }
      };
      document.getElementsByClassName('more-control')[0].onclick = function (event) {
        var more = document.getElementsByClassName('show-less')[0];
        more.classList.remove('show-less');
        event.target.remove();
      };
      document.addEventListener('scroll', function (event) {
        var header = document.getElementById('primary-header');
        if (window.scrollY > 64) {
          header.classList.add('header-scrolled');
        } else {
          header.classList.remove('header-scrolled');
        }
      });
      setInterval(function () {
        var current = document.getElementsByClassName('hero-card showing-card');
        if (current.length) {
          current = current[0];
          if(current.nextElementSibling && current.nextElementSibling.classList.contains('hero-card')) {
            current.classList.remove('showing-card');
            current.nextElementSibling.classList.add('showing-card');
          } else {
            current.classList.remove('showing-card');
            var first = document.getElementsByClassName('hero-card')[0];
            first.classList.add('showing-card');
          }
        }
      }, 5000);
    }())

  </script>
</body>

</html>