/* Web Overrides */
body {
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out;
}
header.header-scrolled {
  background: lightgray;
  .navigation a {
    text-shadow: initial;
    color: gray;
  }
}

ul {
  margin: 0;
}
li {
  list-style-type: none;
  padding: 7px;
}
a {
  text-decoration: none;
}
.navigation {
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}
.navigation li:first-child {
  display: none;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  text-shadow: 1px 1px gray;
  transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -webkit-transition: color .25s ease-in-out;
}

.navigation a:hover {
  background: #36b7e8;
}

.logo-div {
  position: fixed;
  left: 10px;
  top: 10px;
}
.logo-div img {
  height: 110px;
  width: 100px;
}
.main {
  background: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 125px;

  h2 {
    font-size: 4em;
    color: #36b7e8;
  }

  .hero-card-list {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 25px;
    height: 150px;
    justify-content: flex-end;

    .hero-card {
      display: none;
    }
    .hero-card.showing-card {
        display: initial;
        -webkit-animation: fadeIn 2s;
        animation: fadeIn 2s;
    }
    div {
      color: white;
      font-size: 2em;
      text-shadow: 2px 2px black;

      p {
        margin: 0;
      }
    }
  }

  .page-content {
    font-size: 1.1em;
    width: 90%;
    background-color: white;
    border-radius: 5px;

    display: flex;
    flex-flow: row wrap;

    .page-content-area {
      padding: 25px;
      flex: 1.5 0;

      &.page-text {
        flex: 2 0px;
      }
      &.page-aside {
        text-align: center;
      }
    }
    .more-control {
      display: none;
    }
  }
}
.social-group {
  display: flex;
  justify-content: space-evenly;

  .social-icon img {
    width: 50px;
  }
}

#ytplayer {
  height: 300px;
  width: 500px;
}
@media all and (max-width: 900px) {
  .main {
    .page-content {
      .page-content-area {
        flex: 1 100%;
      }
      .page-text.homepage-text.show-less {
        height: 135px;
        overflow: hidden;
      }
      .more-control {
        flex: 1 100%;
        display: initial;
        text-align: center;
        color: lightblue;
      }
    }
  }

  header.header-scrolled {
    background-color: initial;
    .menu-icon {
      background-color: lightgray;
      opacity: .5;
    }
  }
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation li:first-child {
    display: initial;
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
  .navigation .menu-icon {
    display: flex;
    flex: 1;
    float: right;
    flex-direction: column;
    align-items: center;
    font: -webkit-control;
  }
  .navigation .menu-icon img {
    height: 50px;
    width: 50px;
    float: right;
  }
  .navigation {
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
  }
  .navigation-hidden li:not(:first-child) {
    display: none;
    transition: display .25s ease-in-out;
    -moz-transition: display .25s ease-in-out;
    -webkit-transition: display .25s ease-in-out;
  }
  header.header-scrolled {
    .navigation-open {
    .menu-icon {
      opacity: 1;
      background-color: #888888;
    }
    a {
      color: white;
    }

    }
  }
  .navigation-open {
    background: #888888;
  }
  .main {
    h2 {
      font-size: 3em;
      text-align: center;
    }

    .hero-card-list {
      div {
        font-size: 1.5em;
      }
    }
  }
  #ytplayer {
    height: 150px;
    width: 300px;
  }
}